<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/content.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav>
            <div class="first">
                <a href="/home/courses"><i class="ri-arrow-left-wide-line"></i></a>
            </div>
            <div class="second">
                <p>Categories</p>
            </div>
            <div class="third">
                <i class="ri-search-line"></i>
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="physics item">
            <a href="/courses/class-9th/physics">
                <i class="ri-price-tag-3-line"></i>
                <p>PHYSICS</p>
            </a>
        </div>
        <div class="english item">
            <a href="/courses/class-9th/english">
                <i class="ri-price-tag-3-line"></i>
                <p>ENGLISH</p>
            </a>
        </div>
        <div class="math item">
            <a href="/courses/class-9th/math">
                <i class="ri-price-tag-3-line"></i>
                <p>MATH</p>
            </a>
        </div>
        <div class="history item">
            <a href="/courses/class-9th/history">
                <i class="ri-price-tag-3-line"></i>
                <p>HISTORY</p>
            </a>
        </div>
        <div class="biology item">
            <a href="/courses/class-9th/biology">
                <i class="ri-price-tag-3-line"></i>
                <p>BIOLOGY</p>
            </a>
        </div>
        <div class="hindi item">
            <a href="/courses/class-9th/hindi">
                <i class="ri-price-tag-3-line"></i>
                <p>HINDI</p>
            </a>
        </div>
        <div class="civics item">
            <a href="/courses/class-9th/civics">
                <i class="ri-price-tag-3-line"></i>
                <p>CIVICS</p>
            </a>
        </div>
        <div class="sanskrit item">
            <a href="/courses/class-9th/sanskrit">
                <i class="ri-price-tag-3-line"></i>
                <p>SANSKRIT</p>
            </a>
        </div>
        <div class="chemistry item">
            <a href="/courses/class-9th/chemistry">
                <i class="ri-price-tag-3-line"></i>
                <p>CHEMISTRY</p>
            </a>
        </div>
        <div class="economics item">
            <a href="/courses/class-9th/economics">
                <i class="ri-price-tag-3-line"></i>
                <p>ECONOMICS</p>
            </a>
        </div>
        <div class="geography item">
            <a href="/courses/class-9th/geography">
                <i class="ri-price-tag-3-line"></i>
                <p>GEOGRAPHY</p>
            </a>
        </div>

    </main>
</body>

</html>
