<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuck Board | Target Board Spoof</title>
    <link href="/stylesheets/home.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="sidebar">
        <%- include("includes/sidebar.ejs") %>
    </div>
    <header>
        <nav>
            <ul class="navbar">
                <a href="#" class="menu">
                <i class="ri-menu-2-line"></i></a>
                <div class="row-nav">
                    <i class="ri-notification-fill"></i>
               <a href="/logout"><i class="ri-logout-box-line"></i></a> 
            
                </div>
                </ul>
        </nav>
    </header>
    <main>
        <div class="page1">

        </div>
        <div class="page2">
            <div class="courses box">
                <a href="#">
                    <i class="ri-git-repository-fill"></i>
                    <p>All Courses</p>
                </a>
            </div>
            <div class="liveclass box">
                <a href="#">
                    <i class="ri-live-fill"></i>
                    <p>Live Class</p>
                </a>
            </div>
            <div class="notes box">
                <a href="#">
                    <i class="ri-book-fill"></i>
                    <p>Live Class</p>
                </a>
            </div>
            <div class="paidcourse box">
                <a href="/home/courses">
                    <i class="ri-macbook-fill"></i>
                    <p>My Paid Course</p>
                </a>
            </div>
            <div class="freevideos box">
                <a href="#">
                    <i class="ri-youtube-fill"></i>
                    <p>Free Videos</p>
                </a>
            </div>

            <div class="test box">
                <a href="#">
                    <i class="ri-sticky-note-line"></i>
                    <p>Test</p>
                </a>
            </div>
            <div class="news box">
                <a href="#">
                    <i class="ri-megaphone-fill"></i>
                    <p>News</p>
                </a>
            </div>
            <div class="ncert box">
                <a href="#">
                    <i class="ri-book-3-fill"></i>
                    <p>Ncert Book Pdf</p>
                </a>
            </div>
            <div class="social box">
                <a href="#">
                    <i class="ri-box-1-fill"></i>
                    <p>Social Media</p>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <div class="home">
                <i class="ri-home-fill"></i>
                <a href="#">Home</a>
            </div>
            <div class="courses">
                <i class="ri-survey-fill"></i>
                <a href="#">My Courses</a>
            </div>
            <div class="downloads">
                <i class="ri-download-cloud-fill"></i>
                <a href="#">Downloads</a>
            </div>
            <div class="help">
                <i class="ri-questionnaire-fill"></i>
                <a href="#">Help</a>
            </div>
        </div>
    </footer>

    <script>
        let sidebar = document.querySelector(".sidebar")
        let menu = document.querySelector(".menu");
        let click = 0;
        menu.addEventListener("click", () => {
            if (click == 0) {
                sidebar.style.left = "0px";
                click = 1;
            } else {
                sidebar.style.left = "-1200px";
                click = 0;
            }
        })
    </script>
</body>

</html>
