<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <iframe id="lctplayer-video1" frameborder="0" allowfullscreen="true" style="width:100%; height: 100vh;"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" title=""
        src="https://www.youtube.com/embed/<%= id %>?origin=in&amp;widgetid=1&amp;forigin=https%3A%2F%2Ftargetboard.co.in%2Fauth%2Fplayer&amp;aoriginsup=1&amp;gporigin=https%3A%2F%2Ftargetboard.co.in%2Fauth%2Fnext_page.php%3Fcourse_id%3D19%26parent_id%3D129&amp;vf=1"></iframe>
</body>

</html>
